* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}
.wrapper {
    width: 420px;
    min-height: 100vh;
    display: block;
    margin: 0 auto;
    background-color: hsl(240, 50%, 98%);
    /* background-color: rgb(29, 201, 155);; */
}
.head {
 padding: 20px;
}
.profile {
    width: 35px;
    border-radius: 100%;
    float: left;
}
h3{
    display: inline;
    margin-left: 10px;
}
.icons {
    display: inline;
}
.fa-headphones {
    width: 30px;
    margin-left: 110px;
}
.fa-expand {
    width: 30px;
}
.first-art {
    width: 380px;
    height: 100px;
    background-color: hsla(159, 65%, 44%, 0.984);
    color: hsl(0, 0%, 100%);
    display: block;
    margin: auto;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 200;
    padding: 15px;
    margin-top: 20px;
}
.tran {
    margin-bottom: 18px;
}
.transaction {
    margin-left: 60px;  
    padding-bottom: 60px;
}
.naira {
    display: inline;
}  
h5 {
    display: inline;
    font-size: 23px;
}
.add {
    color: rgb(20, 212, 161);
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    padding: 12px;
    margin-left: 150px;
}
.second-art {
    width: 380px;
    height: 100px;
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: auto;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 200;
    padding: 15px 25px;
    margin-top: 20px;
}
.to-opay {
   display: flex;
   flex-direction: column;
   float: left;
   margin-top: 10px; 
}
.opay {
    margin-top: -10px;  
    width: 50px; 
}
.bank {
    width: 50px;
    margin-top: -10px;
}
.withdraw {
    width: 50px;
    margin-top: -10px;
}
.containers {
    position: absolute;
    left: 45%;
}
.containerss {
    position: absolute;
    right: 6.5%;
}
.desc {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    
}
.third-art {
    width: 380px;
    height: 200px;
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: auto;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 200;
    padding: 15px 25px;
    margin-top: 20px;
}
.airtime {
    width: 50px;

}
.data {
    width: 50px;
}
#data {
    position: absolute;
    left: 35%; 
    /* margin-top: -px; */
}
.bet {
    width: 50px;
}
#betting {
    position: absolute;
    left: 58%;
}
#Tv {
    position: absolute;
    right: 6.5%; 
}
.tv {
    width: 50px;
}
#wealth {
    position: absolute;
    bottom: 30%;
}
.wealth {
    width: 50px;
    
}
#refer {
    position: absolute;
    left: 35%; 
    bottom: 30%;
}
.refer {
    width: 50px;
}
#play {
    position: absolute;
    left: 58%; 
    bottom: 30%;
}
.play {
    width: 50px;
}
#more {
    position: absolute;
    right: 6.5%;
    bottom: 30%;
}
.more {
    width: 50px;
     
}
.descs {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}